@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #F3E8EE;
  display: block;
  max-width: 100%;
  overflow-x: hidden;
}

h2, p {
  color: #2E2C2F;
  font-family: "Roboto", sans-serif;
}

h3 {
  color: #2E2C2F;
  font-family: sans-serif;
}

